<footer>
    <p>Made with <i class="fa-solid fa-heart" style="color: #ff4013;"></i> by sayak</p>
    <br><br>
    <p>&copy;&nbsp;&nbsp;Tripling private limited</p>
    <br>
    <div class="refLink-outbox">
        <span class="refLink">
            <a href="https://www.facebook.com/profile.php?id=100095210420752"><i class="fa-brands fa-facebook fa-xl"></i></a>
        </span>
        <span class="refLink">
            <a href="https://www.linkedin.com/in/sayak-chowdhury-515ab5273/"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        </span>
        <span class="refLink">
            <a href="https://github.com/sayak2103"><i class="fa-brands fa-github fa-xl"></i></a>
        </span>
    </div>
</footer>