<% layout("/layouts/boilerplate.ejs") -%>

<div class="row">
    <div class="alert alert-danger col-6 offset-3 mt-5" role="alert">
        <div class="icon" style="margin-left: 40%;">
            <i class="fa-solid fa-triangle-exclamation fa-6x"></i>
        </div>
        <h3>
            Error !
        </h3>
        <h5>
            <%= err.message %>
        </h5>
    </div>
</div>